# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode10
language: objective-c
# cache: cocoapods
podfile: Example/Podfile
# xcode_workspace: Example/Succulent.xcworkspace
# xcode_scheme: Succulent-Example
# xcode_destination: platform=iOS Simulator,name=iPhone 6S,OS=12.0
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -workspace Example/Succulent.xcworkspace -scheme Succulent-Example -sdk iphonesimulator12.0 -destination 'platform=iOS Simulator,name=iPhone 6S,OS=12.0' ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
