# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode10
language: objective-c
gemfile: Example/Gemfile
podfile: Example/Podfile
script:
- set -o pipefail && xcodebuild -workspace Example/Succulent.xcworkspace -scheme Succulent-Example -destination 'platform=iOS Simulator,name=iPhone 6S,OS=12.0' build test | xcpretty
- pod lib lint
